.quiz-header {
    width: 100vw;
    height: 4rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-header-h1 {
    color: whitesmoke;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
}