@import '/components/Header/header.css';
@import '/components/Footer/footer.css';
@import '/components/QuestionCard/questioncard.css';
@import '/components/Button/button.css';
@import '/components/Headlines/headlines.css';
@import '/components/TagList/taglist.css';
@import '/components/Form/form.css';
@import '/components/avatar/avatar.css';
@import '/components/Profile/profile.css';


* {
  box-sizing: border-box;
  font-family: Gaegu, cursive;
  font-size: 1.2rem;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  /* background: linear-gradient(
    150deg,
    rgba(2, 0, 36, 100%) 0%,
    rgba(121, 9, 100, 100%) 33%,
    rgba(0, 212, 255, 100%) 100%
  ); */

  /* background: linear-gradient(347deg, rgba(2,0,36,1) 35%, rgba(4,72,156,1) 69%, rgba(207,0,255,1) 100%); */
  /* background: linear-gradient(0deg, rgba(2,0,36,1) 35%, rgba(4,72,156,1) 69%, rgba(207,0,255,1) 100%); */
  /* background: linear-gradient(0deg, rgba(2,0,36,1) 28%, rgba(4,72,156,1) 59%, rgba(207,0,255,1) 100%);  */
  background-image: url(/assets/hacker-g56603597a_1920.jpg);
  background-repeat: no-repeat;
  background-position: 0% 10%;

  /* background-size: cover; */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  flex-direction: column;
  
  overflow-y: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 3rem 1rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
