.create-form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  color: whitesmoke;
}

.create-form-label {
  font-size: 1.2rem;
}

.input-container {
  background-color: rgb(2, 69, 87, 0.8);
  padding: 1rem;
}

.user-question,
.question-answer,
.question-tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container-label {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.input-container-label span {
  display: inline-block;
  align-self: flex-end;
}

#user_question,
#question_answer,
#question_tags {
  width: 100%;
  font-size: 1.2rem;
}

#user_question:focus,
#question_answer:focus,
#question_tags:focus {
  outline: 2px solid rgba(121, 9, 100, 100%);
}
