<form class="create-form-container" action="POST">
  <div class="input-container user-question">
    <div class="input-container-label"></div>
    <label class="create-form-label" for="user_question"
      >Please fill in your question* <span>13</span></label
    >
  </div>
    <textarea
      name="user_question"
      id="user_question"
      cols="30"
      rows="10"
      required
    ></textarea>
  </div>
  <div class="input-container question-answer">
    <label class="create-form-label" for="question_answer"
      >Please provide the answer*</label
    >
    <textarea
      name="question_answer"
      id="question_answer"
      cols="30"
      rows="10"
      required
    ></textarea>
  </div>
  <div class="input-container question-tags">
    <label class="create-form-label" for="question_tags"
      >Question tags separated by comma</label
    >
    <input type="text" name="question_tags" id="question_tags" />
  </div>
  <button class="button">Submit</button>
</form>
