<div class="profile-info">
    <div class="profile-info-header">
         <img class="avatar" src="/assets/Antje.png" alt="Antje">
    <h2 class="h2 profile-h2">Antje</h2>
    </div>
    <p>This is a text about Antje. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nobis minus tenetur quidem, provident, pariatur nemo quod suscipit blanditiis quis, voluptas id eligendi illum accusamus est explicabo. Incidunt, libero iusto.</p>
    <h3>Special forces</h3>
    <ul class="tag-list">
        <li class="tag">tag1</li>
        <li class="tag">tagtagtag2</li>
        <li class="tag">tagtag3</li>
        <li class="tag">tagtag4</li>
    </ul>
</div>