.profile-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(2, 69, 87, 0.8);
  max-width: 400px;
  color: whitesmoke
}

.profile-info-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
