main {
    padding: 1rem 1rem 1rem 1rem;
}


.form-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 0 10px;
}

form div {
    border: 2px, solid pink;
    background-color: rgba(163, 148, 160, 0.8);
    padding: 1rem;
    width: 80%
}

.user-question,
.question-answer,
.question-tags {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

