.create-form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.create-form-label {
    font-size: 1.2rem;
}

.input-container {
    background-color: rgba(163, 148, 160, 0.8);
    padding: 1rem;
}

.user-question,
.question-answer,
.question-tags {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#user_question,
#question_answer,
#question_tags {
    width: 100%;
    font-size: 1.2rem;
}

.create-form-container button {
    align-self: center;
}

