@import url(/components/avatar/avatar.css);

main {
    padding: 6rem 2rem 5rem 2rem;
    justify-content: center;
    gap: 10%
}

/* .profile-pic-name {
    padding: 0 10px;
    width: 70vw;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.profile-info {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: rgba(163, 148, 160, 0.8);
    width: 70vw;
    max-width: 400px;
    position: relative;
}

.profile-pic {
    align-self: flex-end;
}

.avatar {
    position: absolute;
    top: -50px;
    left: -25px;
}




