@import url(/components/avatar/avatar.css);

main {
    /* justify-content: center; */
}

.profile-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(163, 148, 160, 0.8);
    width: 70vw;
    max-width: 400px;
}

.profile-info-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}