.question-card {
  position: relative;
  max-width: 400px;
  padding: 7px;
  background-color: rgb(2, 69, 87, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: whitesmoke;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 5%);
}

.question-card-question,
.question-card-answer {
  margin: 10px;
}

.question-card-svg {
  width: 2rem;
  color: whitesmoke;
  fill: rgb(245, 245, 245, 0%);
  position: absolute;
  top: -1em;
  right: 1em;
  transition: all 0.07s ease;
}

.question-card-svg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bookmarked {
  color: whitesmoke;
  fill: whitesmoke;
}

.hidden-question {
  display: none;
}
