.question-card {
  position: relative;
  max-width: 400px;
  padding: 7px;
  background-color: rgba(163, 148, 160, 80%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 5%);
}

.question-card-question,
.question-card-answer {
  margin: 10px;
}

.question-card-svg {
  width: 2rem;
  color: whitesmoke;
  fill: rgb(245, 245, 245, 0%);
  position: absolute;
  top: -1em;
  right: 1em;
}

.bookmarked {
  color: rgba(0, 253, 10, 100%);
  fill: rgba(0, 253, 10, 100%);
}
