
.question-card {
    position: relative;
    max-width: 400px;
    padding: 7px;
    background-color: rgba(163, 148, 160, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
}

.question-card-question,
.question-card-answer {
    margin: 10px;
}

.question-card-svg {
    width: 2rem;
    color: whitesmoke;
    position: absolute;
    top: -1em;
    right: 1em;
}

.hidden {
    display: none;
}

.bookmarked {
    color:rgb(0, 253, 10);
    fill:rgb(0, 253, 10)
}